


/* #region-common-rules */

*{
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}

:root{
    --background-light: #B4D0E7;
    --background-black: #000000;
    --background-blue-sky: #0061FF;
    --background-light-blue: #0093CE;
    --background-blue: #0D2481;
    --background-cremisi: #61082B;
    --background-lemon: #A2D39B;
    --background-red: #D5001F;
    --background-variable-red: #FF1C1C;
    --background-sun: #FFD830;
    --font-family: font-family: 'Open Sans';
}


/* #endregion-common-rules */


/* #region-utility */
.container, .container2{
    min-width: 1400px;
    min-width: 1400px;
    background-color: #12aedd;
}

.raw:after{
    content: "";
    display: table;
    clear: both;
}

/* #endregion-utility */


/* #region-nabar */

.navbar{
    width:100%;
    height: 60px;
    background-color: red;
}

.col-left{
    width: 50%;
    background-color: #FFD830;
    height: 60px;
    float: left;
}
   
.col-right{
    width: 50%;
    background-color: #12aedd;
    height: 60px;
    float: left;
}
/* #endregion-navbar */


/* #region-header */

.site-header{
    width: 100%;
    height:750px;
    background-color:#E2A242 ;
}

.col_1_left{
    width: 40%;
    height: 750px;
    background-color: #3419A0;
    float: left;
}

.col_2_right{
    width: 60%;
    height: 750px;
    background-color: #A2D39B;
    float: left;
}
/* #endregion-header */


/* #region-main */






.container_main{
    width: 1250px;
}
    
.site-main{
    width: 100%;
    height: 1000px;
    /* background-color:#D5001F; */
}
.findyourplain{
    width: 1000px;
    height: 300px;
    margin-left: 250px;
    background-color: yellow;
}



/* three colums */
.col_left_33{
    width: 300px;
    height: 700px;
    background-color: #3419A0;
    margin-left: 250px;
    float: left;
}

.col_midle_33{
    width: 300px;
    height: 700px;
    background-color: #3419A0;
    float: left;
    margin-left: 40px;
}

.col_right_33{
    width: 300px;
    height: 700px;
    background-color: #3419A0;
    float: left;
    margin-left: 40px;
}
.col_base{
    width: 980px;
    height: 300px;
    float: left;
    background-color: #15b85e;
    margin-left: 250px;
}

.myimg{
    width: 350px;
    height: 300px;
    background-color: #3419A0;
    margin-left: 250px;
    float: left;
}
.contact_partner{
    width: 590px;
    height: 300px;
    float: left;
    background-color: #9715b8;
    margin-left: 40px;
    /* clear: right; */
}

/* #endregion-main */



/* #region-section */









.site-section{
    width: 1250px;
}

.colsection-left{
    width: 250px;
    height: 600px;
    background-color: #D5001F;
    margin-left: 250px;
    float: left;
}

.colsection-midle{
    width: 250px;
    height: 600px;
    background-color: #15b85e;
    float: left;
}

.colsection-right{
    width: 480px;
    height: 600px;
    background-color: bisque;
    float: left;
}

.colsectionbase{
    width: 600px;
    height: 250px;
    background-color: #12aedd;
    float: left;
    margin-left: 250px;
}



.squareleft{
    width: 400px;
    height: 400px;
    background-color: #0061FF;
    /* margin-left:250px; */
    float: left;
}

.squaremidle{
    width: 710px;
    height: 400px;
    background-color: #9715b8;
    float: left;
}

.squareright{
    width: 400px;
    height: 400px;
    background-color: aqua;
    float: left;
}
.squarebase{
    width: 100%;
    height: 200px;
    background-color: #FFD830;
    float: left;
    /* margin-left: 250px; */
}

.faq{
    width: 100%;
    height: 400px;
    background-color: #3419A0;
    /* margin-left: 250px; */
}


/* #endregion-section */






/* #region-footer */

.site-footer{
    width: 100%;
}

.col-1{
    width: 500px;
    height: 500px;
    background-color: #0061FF;
    float: left;
    /* margin-left: 250px; */
}

.col-2{
    width: 100px;
    height: 500px;
    background-color: #00ff15;
    float: left;
}

.col-3{
    width: 100px;
    height: 500px;
    background-color: #fbff00;
    float: left;
}

.col-4{
    width: 100px;
    height: 500px;
    background-color: #ff4800;
    float: left;
}

.col-5{
    width: 712px;
    height: 500px;
    background-color: #ff00dd;
    float: left;
}

/* #endregion-footer */
